<div [ngClass]="{ 
  'flex-col px-3 bg-zinc-900 h-screen sticky top-0 bottom-0 z-10': true,
  'hidden': !store.state.isOpened,
  'w-screen md:w-full fixed top-15': store.state.isOpened && store.isMobile
   }">
  <div class="flex flex-col">

		<div class="flex flex-col justify-center items-center mb-10 mt-10 ">
			<div class="relative">
				<img src="assets/woman.jpg" class="w-20 h-20 border-2 border-zinc-50 rounded-full" alt="" />
				<div class="w-5 h-5 bg-teal-400 border-zinc-50 border absolute top-0 left-0 rounded-full"></div>
			</div>


      <h1 class="text-xl text-zinc-50 font-bold">Claudia silva</h1>
			<div class="flex text-zinc-50 items-center rounded-full bg-teal-400 px-3">
				<fa-icon [icon]="icons.profile" />
				<span class="text-sm font-bold mx-2">Perfil fiscal</span>
			</div>

      <div class="col-span-1 flex text-zinc-50">
        <fa-icon [icon]="icons.global" />
        <span class="mx-2"><b>CREF</b>22/ES</span>
      </div>
      <small class="text-zinc-50">claudia&#64;email.com</small>

    </div>

    <h1 class="text-md text-zinc-500">MENU</h1>

    @for (item of items; track $index) {
    <button
      class="flex items-start px-5 py-1 hover:bg-teal-400 hover:text-zinc-50 text-zinc-400 text-sm rounded py-3 cursor-pointer font-bold"
    >
      <fa-icon [icon]="item.icon" class="mr-3" />
      {{ item.label }}


			@if(item.badge) {
				<div class="flex mx-5">
					<span class="bg-purple-400 rounded-full h-5 w-5 text-teal-50">{{ item.badge }}</span>
				</div>
			}
    </button>
    }

    <h1 class="text-md text-zinc-500 mt-5">CONFIGURAÇÕES DA CONTA</h1>

    <div class="flex items-center justify-between mt-5">
      <span class="font-bold text-zinc-400">Compartilhar local</span>
      <app-input-toggle-switch />
    </div>

    <div class="flex items-center justify-between mt-2">
      <span class="font-bold text-zinc-400">Ativar notificações</span>
      <app-input-toggle-switch />
    </div>
  </div>
</div>
