<app-home-header />

<div class="grid grid-cols-1 lg:grid-cols-4">
  <div class="col-span-1 lg:col-span-2">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
      @for (item of cards; track $index) {
      <div class="col-span-1 lg:col-span-2">
        <app-card-kpi [data]="item" />
      </div>
      }
    </div>
  </div>

  <div class="col-span-1 md:col-span-1 lg:col-span-2">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
      <div class="col-span-1">
        <app-home-pie-chart />
      </div>

      <div class="col-span-1">
        <app-home-gauge-chart />
      </div>
    </div>
  </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-2">
  <div class="col-span-1">
    <div class="flex flex-col bg-zinc-50 mx-3 my-3">
      <div class="flex justify-between bg-green-200 px-3 py-1">
        <h2 class="text-xl text-green-600">Suas últimas fiscalizações</h2>


        <div class="flex">
          <app-tooltip-button
            [label]="!isShowLast ? 'Expandir' : 'Recolher'"
            (pressed)="onHandleVisibility({ type: 'last' })"
          >
            <fa-icon [icon]="isShowLast ? icons.down : icons.up" />
          </app-tooltip-button>

          <app-tooltip-button [label]="'Atualizar'" (pressed)="store.onList()">
            <fa-icon [icon]="icons.load" />
          </app-tooltip-button>

          <app-modal-confirm [data]="{ source: 'Supervisão'}"> 
            <fa-icon [icon]="icons.close" />
          </app-modal-confirm>
        </div>
      </div>


      @if(store.state.isLoading) {
      <div class="flex flex-col items-center justify-center my-4">
        <fa-icon [icon]="icons.load" class="spin" />
        <span class="text-center text-zinc-700">Buscando informações...</span>
      </div>
      } 
      
      @if(!store.state.hasLastSupervisions && !store.state.isLoading) {
      <div class="flex flex-col items-center justify-center my-4">
        <span class="text-center text-zinc-700">
          Nenhuma informação encontrada...
        </span>
      </div>
      } 

      @if(!store.state.isLoading && store.state.hasLastSupervisions) { 
        @for (item of store.state.lastSupervisions() | paginate: { id: 'lastSupervisions', itemsPerPage: 3, currentPage: paginatorLast }; track $index) {
          <app-home-supervision-card
            [data]="item"
            [ngClass]="{ hidden: !isShowLast }"
          />
        }

        <div class="flex flex-wrap justify-end my-5">
          <pagination-controls (pageChange)="paginatorLast = $event" id="lastSupervisions" [previousLabel]="'Anterior'" [nextLabel]="'Próximo'" />
        </div>
      }
    </div>
  </div>

  <div class="col-span-1">
    <div class="flex flex-col bg-zinc-50 mx-3 my-3">
      <div class="flex justify-between bg-teal-200 px-3 py-1">
        <h2 class="text-xl text-teal-600">Suas próximas fiscalizações</h2>

        <div class="flex">
          <app-tooltip-button
            [label]="!isShowNext ? 'Expandir' : 'Recolher'"
            (pressed)="onHandleVisibility({ type: 'next' })"
          >
            <fa-icon [icon]="isShowNext ? icons.down : icons.up" />
          </app-tooltip-button>

          <app-tooltip-button [label]="'Atualizar'" (pressed)="store.onList()">
            <fa-icon [icon]="icons.load" />
          </app-tooltip-button>

          <app-modal-confirm [data]="{ source: 'Supervisão'}"> 
            <fa-icon [icon]="icons.close" />
          </app-modal-confirm>
        </div>
      </div>

      @if(store.state.isLoading) {
      <div class="flex flex-col items-center justify-center my-4">
        <fa-icon [icon]="icons.load" class="spin"/>
        <span class="text-center text-zinc-700">Buscando informações...</span>
      </div>
      } 
      
      @if(!store.state.hasNextSupervisions && !store.state.isLoading) {
      <div class="flex flex-col items-center justify-center my-4">
        <span class="text-center text-zinc-700">
          Nenhuma informação encontrada...
        </span>
      </div>
      } 

      @if(!store.state.isLoading && store.state.hasNextSupervisions) { 
        @for(item of store.state.nextSupervisions() | paginate: { id: 'nextSupervisions', itemsPerPage: 3, currentPage: paginatorNext }; track $index) {
          <app-home-supervision-card
            [data]="item"
            [ngClass]="{ hidden: !isShowNext }"
          />
        } 

        <div class="flex flex-wrap justify-end my-5">
          <pagination-controls (pageChange)="paginatorNext = $event" id="nextSupervisions" [previousLabel]="'Anterior'" [nextLabel]="'Próximo'" />
        </div>
      }
    </div>
  </div>
</div>
