<app-home-header />

<div class="grid grid-cols-1 lg:grid-cols-4">
  <div class="col-span-1 lg:col-span-2">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
      @for (item of cards; track $index) {
      <div class="col-span-1 lg:col-span-2">
        <div [ngClass]="['flex flex-col px-3 py-3 mx-3 my-3', item.bg]">
          <fa-icon
            [icon]="item.icon"
            [ngClass]="{
              'text-zinc-50': item.bg != 'bg-zinc-50',
              'text-zinc-500': item.bg == 'bg-zinc-50'
            }"
          />
          <h1
            [ngClass]="{
              'text-center text-2xl': true,
              'text-zinc-50': item.bg != 'bg-zinc-50',
              'text-zinc-500': item.bg == 'bg-zinc-50'
            }"
          >
            {{ item.value }}
          </h1>
          <span
            [ngClass]="{
              'text-center': true,
              'text-zinc-50': item.bg != 'bg-zinc-50',
              'text-zinc-500': item.bg == 'bg-zinc-50'
            }"
            >{{ item.title }}</span
          >
        </div>
      </div>
      }
    </div>
  </div>

  <div class="col-span-1 md:col-span-1 lg:col-span-2">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
      <div class="col-span-1">
        <app-home-pie-chart />
      </div>

      <div class="col-span-1">
        <app-home-gauge-chart />
      </div>
    </div>
  </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-2">
  <div class="col-span-1">
    <div class="flex flex-col bg-zinc-50 mx-3 my-3">
      <div class="flex justify-between bg-green-200 px-3 py-1">
        <h2 class="text-xl text-green-600">Suas ultimas fiscalizações</h2>


        <div class="flex">
          <app-tooltip-button
            [label]="!isShowLast ? 'Expandir' : 'Recolher'"
            (pressed)="onHandleVisibility({ type: 'last' })"
          >
            <fa-icon [icon]="isShowLast ? icons.down : icons.up" />
          </app-tooltip-button>

          <app-tooltip-button [label]="'Atualizar'" (pressed)="store.onList()">
            <fa-icon [icon]="icons.load" />
          </app-tooltip-button>

          <app-tooltip-button [label]="'Fechar'">
            <fa-icon [icon]="icons.close" />
          </app-tooltip-button>
        </div>
      </div>


      @if(store.state.isLoading) {
      <div class="flex flex-col items-center justify-center my-4">
        <fa-icon [icon]="icons.load" />
        <span class="text-center text-zinc-700">Buscando informações...</span>
      </div>
      } 
      
      @if(!store.state.hasLastSupervisions) {
      <div class="flex flex-col items-center justify-center my-4">
        <span class="text-center text-zinc-700">
          Nenhuma informação encontrada...
        </span>
      </div>
      } 

      @if(!store.state.isLoading && store.state.hasLastSupervisions) { 
        @for (item of store.state.lastSupervisions(); track $index) {
          <app-home-supervision-card
            [data]="item"
            [ngClass]="{ hidden: !isShowLast }"
          />
        }
      }



    </div>
  </div>

  <div class="col-span-1">
    <div class="flex flex-col bg-zinc-50 mx-3 my-3">
      <div class="flex justify-between bg-teal-200 px-3 py-1">
        <h2 class="text-xl text-teal-600">Suas próximas fiscalizações</h2>

        <div class="flex">
          <app-tooltip-button
            [label]="!isShowNext ? 'Expandir' : 'Recolher'"
            (pressed)="onHandleVisibility({ type: 'next' })"
          >
            <fa-icon [icon]="isShowNext ? icons.down : icons.up" />
          </app-tooltip-button>

          <app-tooltip-button [label]="'Atualizar'" (pressed)="store.onList()">
            <fa-icon [icon]="icons.load" />
          </app-tooltip-button>

          <app-tooltip-button [label]="'Fechar'">
            <fa-icon [icon]="icons.close" />
          </app-tooltip-button>
        </div>
      </div>

      @if(store.state.isLoading) {
      <div class="flex flex-col items-center justify-center my-4">
        <fa-icon [icon]="icons.load" />
        <span class="text-center text-zinc-700">Buscando informações...</span>
      </div>
      } 
      
      @if(!store.state.hasNextSupervisions) {
      <div class="flex flex-col items-center justify-center my-4">
        <span class="text-center text-zinc-700">
          Nenhuma informação encontrada...
        </span>
      </div>
      } 

      @if(!store.state.isLoading && store.state.hasNextSupervisions) { 
        @for(item of store.state.nextSupervisions(); track $index) {
          <app-home-supervision-card
            [data]="item"
            [ngClass]="{ hidden: !isShowNext }"
          />
        } 
      }
    </div>
  </div>
</div>
