<app-home-header />

<div class="grid grid-cols-1 lg:grid-cols-4">
  <div class="col-span-1 lg:col-span-2">
    <div class="grid grid-cols-1 lg:grid-cols-4">
      @for (item of cards; track $index) {
      <div class="col-span-1 lg:col-span-2">
        <div [ngClass]="['flex flex-col px-3 py-3 mx-3 my-3', item.bg]">
          <fa-icon
            [icon]="item.icon"
            [ngClass]="{
              'text-zinc-50': item.bg != 'bg-zinc-50',
              'text-zinc-500': item.bg == 'bg-zinc-50'
            }"
          />
          <h1
            [ngClass]="{
              'text-center text-2xl': true,
              'text-zinc-50': item.bg != 'bg-zinc-50',
              'text-zinc-500': item.bg == 'bg-zinc-50'
            }"
          >
            {{ item.value }}
          </h1>
          <span
            [ngClass]="{
              'text-center': true,
              'text-zinc-50': item.bg != 'bg-zinc-50',
              'text-zinc-500': item.bg == 'bg-zinc-50'
            }"
            >{{ item.title }}</span
          >
        </div>
      </div>
      }
    </div>
  </div>

  <div class="col-span-1 md:col-span-1 lg:col-span-2">
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <div class="col-span-1">
        <app-home-pie-chart />
      </div>

      <div class="col-span-1">
        <app-home-gauge-chart />
      </div>
    </div>
  </div>
</div>
