/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

* {
  font-family: "Nunito", sans-serif;
}

.chart-container {
  height: 295px;
  min-height: 230px;
}

.flatpickr-day.selected {
  background-color: oklch(77.7% 0.152 181.912) !important;
  border-color: oklch(77.7% 0.152 181.912) !important;
}

.flatpickr-day.endRange:hover,
.flatpickr-day.endRange {
  background-color: oklch(77.7% 0.152 181.912) !important;
  border-color: oklch(77.7% 0.152 181.912) !important;
}

li.current {
  background-color: oklch(77.7% 0.152 181.912) !important;
}


.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}