<div
  class="flex flex-col border rounded-lg border-zinc-200 py-3 px-3 mx-5 my-5 bg-zinc-50"
>
  <div class="flex justify-between items-center">
    <h1
      [ngClass]="{ 
			'text-2xl font-bold': true,
			'text-teal-700': data()?.statusId == 1,
			'text-green-700': data()?.statusId == 3,
			}"
    >
      {{ data()?.name }}
    </h1>

    <button
      class="px-2 py-2 hover:bg-zinc-50 rounded cursor-pointer text-zinc-700"
    >
      <fa-icon [icon]="icons.search" />
    </button>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 mt-3 text-zinc-700">
    <div class="col-span-1">
      <div class="flex">
        <fa-icon [icon]="icons.user" />
        <span class="mx-2"><b>Responsável:</b> {{ data()?.owner }}</span>
      </div>
    </div>

    <div class="col-span-1">
      <div class="flex">
        <fa-icon [icon]="icons.calendar" />
        <span class="mx-2"
          ><b>Data da visita:</b>
          {{ data()?.dateVisit | date : "dd/MM/yyyy hh:mm" }}</span
        >
      </div>
    </div>

    <div class="col-span-1">
      <div class="flex">
        <fa-icon [icon]="icons.map" />
        <span class="mx-2"
          ><b>Município:</b> {{ data()?.city }} - {{ data()?.state }}</span
        >
      </div>
    </div>

    <div class="col-span-1">
      <div class="flex">
        <fa-icon [icon]="icons.pen" />
        <span class="mx-2"><b>Tipo fiscalização:</b> {{ data()?.type }}</span>
      </div>
    </div>

    <div class="col-span-1">
      <div class="flex">
        <fa-icon [icon]="icons.location" />
        <span class="mx-2"><b>Região:</b> {{ data()?.region }}</span>
      </div>
    </div>

    <div class="col-span-1">
      <div class="flex">
        <fa-icon [icon]="icons.clock" />
        <span class="mx-2"><b>Status:</b> {{ data()?.status }}</span>
      </div>
    </div>
  </div>

  <div class="flex w-full justify-end mt-3">
    <app-modal-edit-supervision [data]="data()" />
  </div>
</div>
