<div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-2 px-5 py-2 shadow">
  <div class="col-span-2 lg:col-span-1">
    <div class="flex flex-col">
      <h1 class="text-xl text-zinc-800 font-bold">Home - Perfil fiscal</h1>
      <span class="text-zinc-500">
        Bem-vindo ao sistema de fiscalização do CREF22/ES
      </span>
    </div>
  </div>

  <div class="col-span-2 md:col-span-1 lg:col-span-1">
    <div class="flex flex-col lg:items-end mt-5 lg:mt-0">
      <h1 class="text-sm text-zinc-400">
        VOCÊ ESTÁ AQUI<b class="text-zinc-700"> Home - Dashboard</b>
      </h1>
      <!-- <app-input-calendar /> -->
      <app-input-calendar-range />
    </div>
  </div>
</div>
